<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="Description" content="hypermedia.app">
  <base href="/{{ui_path}}/">
  <title>{{project_name}}</title>
</head>

<body>
<{{app_name}}-app>
  <div slot="loading">Loading...</div>
</{{app_name}}-app>

<script type="module" src="./index.ts"></script>
</body>

</html>
