from pathlib import Path
from os import path
from copier import run_auto
copier_base_dir = Path.cwd().parent()

apis = {{apis}}
app_name = {{app_name}}
potential_answers_file: Path = Path.cwd() / "copier-{{api}}.yaml"

print("---hej jestem---")

apis = []
for api in apis:
    if path.exists(copier_base_dir/"apps"/api):
        answers_file = potential_answers_file if potential_answers_file.exists() else None
        run_auto("https://github.com/hypermedia-app/creta-template-api.git",
                 data={'api': api, 'organization': app_name},
                 answers_file=answers_file)
