#!/bin/sh

{% for api in apis %}
if [ ! -d "apps/{{api}}" ]
then
  set -x
  copier \
    -a .copier-{{api}}.yaml \
    --force \
    -d api={{api}} \
    -d organization={{app_name}} \
    copy \
    https://github.com/hypermedia-app/creta-template-api.git \
    .
  set +x
fi
{% endfor %}
